@import 'Styles/variables/colors';

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: darken($color-primary, 10%);
  @media (max-width: 470px) {
    flex-direction: column;
  }
}

.result {
  font-size: 1.8rem;
  color: $color-primary--dark;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 1.8rem;
  margin-right: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  margin-right: 10px;
}

.tag {
  font-size: 1.5rem;
  background-color: transparent;
  &:focus {
    color: $color-secondary;
    font-size: 1.8rem;
  }
}
