.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../assets/header_bg.jpg') no-repeat center / cover;
  padding: 20px 150px;
}

.title {
  margin-bottom: 80px;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #d12f26;
}
