@import 'Styles/variables/colors';
@import 'Styles/variables/fonts';
@import 'Styles/variables/responsive';

.header {
  background:
    linear-gradient($color-primary--shade, $color-primary--shade),
    url('../../assets/header_bg.jpg') no-repeat center / cover;
}

.title {
  margin-top: 2rem;
  margin-bottom: 8rem;
  margin-left: 5rem;
  color: $color-secondary;
  font-weight: $font-weight--medium;
  font-size: 3.6rem;
  text-transform: uppercase;

  @media screen and (max-width: $mobile) {
    margin-bottom: 4rem;
  }

  @media screen and (max-width: $mobile--sm) {
    margin-bottom: 2rem;
  }
}
