@import 'Styles/variables/responsive';
@import 'Styles/variables/fonts';
// sizes
$primary-size: 320px;
$primary-size--md: 300px;
$primary-size--sm: 280px;
$primary-size--xs: 210px;

.movies {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, $primary-size);
  align-content: flex-start;
  justify-content: center;
  padding: 2rem;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(auto-fit, $primary-size--md);
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(auto-fit, $primary-size--sm);
  }

  @media screen and (max-width: $mobile--sm) {
    grid-template-columns: repeat(auto-fit, $primary-size--xs);
  }
}
