@import 'Styles/variables/colors';
@import 'Styles/variables/fonts';

.footer {
  height: 100%;
  background-color: lighten($color-primary--dark, 30%);
}

.title {
  padding: 3rem;
  color: $color-secondary;
  font-weight: $font-weight--medium;
  font-size: 2.4rem;
  text-transform: uppercase;
}
