@import 'Styles/variables/colors';
@import 'Styles/variables/fonts';
@import 'Styles/variables/responsive';

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: $color-primary--darken;
  font-weight: $font-weight--light;
  background-color: $color-primary;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    transform: translateY(-0.8rem);
  }
}

.poster {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.year {
  padding: 0.3rem;
  border: 1px solid $color-primary--darken;
  border-radius: 3px;
}

.title {
  color: lighten($color-primary--dark, 20%);
  font-weight: $font-weight--light;
  font-size: 2.4rem;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  list-style: none;
}

.genre {
  margin-right: 1rem;
  font-size: 1.4rem;
}
