// breakpoints
$desktop: 1440px;
$tablet: 1024px;
$mobile: 640px;
$mobile--sm: 480px;
$mobile--xs: 320px;

// sizes
$primary-size: 320px;
$primary-size--md: 300px;
$primary-size--sm: 280px;
$primary-size--xs: 210px;
