@import 'Styles/variables/colors';
@import 'Styles/variables/fonts';

.container {
  padding: 5rem;
  text-align: center;
}

.title {
  color: $color-secondary;
  font-weight: $font-weight--medium;
  font-size: 10rem;
}

.error {
  color: $color-primary;
  font-size: 5rem;
  text-transform: uppercase;
}

.describe {
  margin-bottom: 2rem;
  color: $color-primary;
  font-size: 3rem;
}

.homepage {
  display: inline-block;
  padding: 1.2rem;
  color: $color-secondary;
  font-size: 2rem;
  background-color: $color-primary--darken;
  border-radius: 5px;

  &:hover {
    background-color: $color-primary;
  }
}
